.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}
.direction {
    font-family: Georgia, serif;
    font-size: 14px;
    color: black;
    background-color: #b8e4f4;
    transition: background-color 0.3s, color 0.3s;
}
.direction:hover {
    background-color: #b9c4b0; 
    color: #f50a0a;
}
.MrsStockmann{
    color: blue;
    font-size: 16px;
}

.Billing {
    color: green;
    font-size: 16px;
}

.PeterStockmann{
    color: red;
    font-size: 16px;
}

